body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
}

.apod-img {
  height: 400px;
  width: auto;
}

.apod-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apod-desc {
  margin-left: 5rem;
  margin-right: 5rem;
}

.heart {
  color: black;
}

.heart:hover {
  color: red;
}
