body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(247, 243, 222);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 243, 222);
  color: rgb(3, 62, 3);
  font-family: "Trispace", sans-serif;
  margin-bottom: 30px;
}

.logo {
  height: 70px;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.apod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 2%;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  background-color: rgb(3, 70, 54);
  color: azure;
  margin-bottom: 40px;
}

.apod-img {
  height: 400px;
  width: auto;
  border-radius: 5%;
}

.apod-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
}

.apod-desc {
  margin-left: 5rem;
  margin-right: 5rem;
  font-weight: 700;
}

.like-btn {
  padding: 8px;
  background-color: white;
  border-radius: 10%;
  font-weight: bold;
  font-size: large;
  margin-bottom: 20px;
  color: black;
  width: 60px;
}

.like-btn:hover {
  background-color: rgb(177, 232, 138);
  transition: 200ms ease-in;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 243, 222);
  color: rgb(3, 62, 3);
  font-family: "Trispace", sans-serif;
  font-weight: bold;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 243, 222);
  color: rgb(3, 62, 3);
  font-family: "Trispace", sans-serif;
  margin-bottom: 30px;
}
